In [1]:
import pandas as pd

# Load the dataset into a pandas DataFrame
df = pd.read_csv('Sleep_health_and_lifestyle_dataset.csv')

# Display the first 5 rows to confirm it's loaded correctly
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [5]:
df.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [9]:
df.columns = df.columns.str.replace(' ', '_')
df.rename(columns={'Quality_of_Sleep': 'Quality_of_Sleep'}, inplace=True) # Example of specific rename if needed

In [11]:
# Split the 'Blood_Pressure' column into two new columns
df[['Systolic_BP', 'Diastolic_BP']] = df['Blood_Pressure'].str.split('/', expand=True)

# Convert the new columns to a numeric type (integer)
df['Systolic_BP'] = pd.to_numeric(df['Systolic_BP'])
df['Diastolic_BP'] = pd.to_numeric(df['Diastolic_BP'])

# Drop the original 'Blood_Pressure' column as it's no longer needed
df.drop('Blood_Pressure', axis=1, inplace=True)

# Verify the changes
print("Data after cleaning:")
df.head()

Data after cleaning:

,Person_ID,Gender,Age,Occupation,Sleep_Duration,Quality_of_Sleep,Physical_Activity_Level,Stress_Level,BMI_Category,Heart_Rate,Daily_Steps,Sleep_Disorder,Systolic_BP,Diastolic_BP
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,77,4200,NaN,126,83
1,2,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,NaN,125,80
2,3,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,NaN,125,80
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90

In [15]:
from sqlalchemy import create_engine
import psycopg2

# --- Create the Database Connection ---
# Replace with your actual PostgreSQL credentials
# Format: postgresql://user:password@host:port/database_name
db_string = 'postgresql://postgres:Data_analyst@localhost:5432/sleep_analysis'

try:
    # Create the database engine
    engine = create_engine(db_string)
    print("Successfully created database engine.")

    # --- Load the DataFrame into a SQL Table ---
    # The table will be named 'sleep_lifestyle'
    # 'if_exists='replace'' will drop the table first if it exists, then create a new one
    table_name = 'sleep_lifestyle'
    df.to_sql(table_name, engine, if_exists='replace', index=False)

    print(f"Data successfully loaded into the '{table_name}' table in PostgreSQL.")

except Exception as e:
    print(f"An error occurred: {e}")

Successfully created database engine.
Data successfully loaded into the 'sleep_lifestyle' table in PostgreSQL.